@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lobster&family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html::-webkit-scrollbar{
    width: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316");
    background-size: contain;
}

.main{
    display: block;
}
/*.item{
    background-color: rgba(134, 53, 53, 0.8);

}*/

.background{
    height: 14vh;
    display: block;
    position: relative;
    object-fit: fill;
}
.info_logo{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_img{
    width: 10vw;
    height: 17vh;
    object-fit: contain;
    padding: 1vh .5vw;
}
._img{
    object-fit: contain;
    margin: 0.5vh 0 0 .8vw;
    height: 5vh;
}
.info_big{
    display: flex;
}
#info_title{
    display: block;
    padding: 1vh 0 0 0px;
}
.info_hh1{
    font-size: 2vh;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family:  'Roboto', sans-serif;
    font-style: italic;
}

.info_p{
    padding: 1vh 1vw;
    font-size: 2.5vh;
    font-family:  'Roboto', sans-serif;
    text-indent: 5vh;
    margin: 0;
    text-align: justify;
}
#title{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hh1{
    font-size: 3.8vh;
    font-weight: bold;
    color: rgb(20, 14, 14);
    font-family: 'Roboto', sans-serif;
    color:rgb(109, 42, 42);

}
#info{
    background-image: url("https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 25vw;
    height: 82vh;
    right: 0;
    top: 14vh;
    overflow: auto;
}
#info::-webkit-scrollbar{
    width: .5vw;
    background-color: rgb(255, 255, 255);
  }
  
  #info::-webkit-scrollbar-track{
    background-color: transparent;
  }
  #info::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, rgb(211, 163, 118), rgb(158, 126, 20));
    border-radius: 50px;
  }
  .nut{
    right: .1vw;
    position: absolute;
    z-index: 600;
    top: 10vh;
}


#nut{
    background-color: white;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#nut span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
    
#nut span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1vw;
    transition: 0.5s;
}
    
#nut:hover span {
    padding-right: 2vw;
}
    
#nut:hover span:after {
    opacity: 1;
    right: 0;
}

#nut span img{
    background-color: rgba(117, 117, 117, 0.329);
    padding: 2px;
    border-radius: 3px;
    object-fit: contain;
    width: 3vh;
}




#info {
    position: absolute;
    transition: transform .8s ease;
    transform: translateX(100%);
}
#info.inactive {
    transition: transform .8s ease;
    transform: translateX(100%);
}
#info.active {
    transition: transform .8s ease;
    transform: translateX(0);
}




#map {
    position: relative;
    right: 0;
    left: 0;
    width: 80vw;
    height: 82vh;
    left: 10vw;
}
#m {
    border-color: antiquewhite;
}


/*
#directions {
    position: absolute;
    z-index: 1000;
    width: 30%;
    max-height: 50%;
    right: 20px;
    top: 20px;
    overflow-y: auto;
    background: white;
    font-family: Arial, Helvetica, Verdana;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
}*/

.custom-icon {
    width: auto;
    height: auto;
    text-align: center;
    white-space: nowrap;
}



.text-island{
    display: flex;
    justify-content: center;
    font-size: .9vh;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.line{
    height: .1vh;
    background-color: black;
}
.footpage{
    display: block;
    justify-content: center;
    align-items: center;
    height: 3.9vh;
    background-color: #ffffff86;
    bottom: 0;
    padding-top: .1vh;
}
#ft{
    font-size: 1vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding-top: .3vh;
}
#ft a:hover{
    text-decoration: none;
    color: black;
}

.my-div-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff00;
}

.icon-image {
    height: 2.2vh;
    object-fit: contain;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;;
}

.icon-text {
    font-size: 1.5vh;
    margin: 0 !important; /* Reset margin to ensure proper alignment */
    color: rgb(255, 9, 9);
    text-align: center;
    width: 100%;
    height: 1.6vh;
    background-color: transparent;
    font-family: 'Signika', sans-serif;
    border-radius: 10px;
    padding-bottom: 2vh;
}



.animated-marker-icon {
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.box{
    display: block;
    position: absolute;
    top: 16vh;
    left: 2.9vw;
    padding: 0;
}
.container{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px !important;
    height: 3.8vh;
    margin: 2vh 0px;
}
.container input{
    display: none;
}
.checkmark {
    display: block;
    width: 4.2vw;
    height: 3.8vh;
    border: .2vh rgb(173, 130, 74);
    border-radius: 7px;
    border-style: solid;
    font-size: 1.6vh;
    font-family: 'Signika', sans-serif;
    color: rgb(109, 42, 42);
    cursor: pointer;
    padding-top: .5vh;
}
.checkmark:hover {
    background-image: url("https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(109, 42, 42);
    
}
input:checked ~ .checkmark {
    background-image: url("https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(109, 42, 42);
    font-weight: bold;
    border-color: rgb(109, 42, 42);
}

.detail{
    display: none;
    position: absolute;
    top: 1vh;
    left: 11vw;
    z-index: 401;
    font-size: 2vh;
    font-family: 'Time new roman';
    font-weight: 999;
    font-style: italic;
    color: rgb(109, 42, 42);
    background-image: linear-gradient(rgba(255, 255, 255, 0.522),rgba(255, 255, 255, 0.522) ),url("https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    border-style: solid;
    border-width: .2vh;
    border-color: rgb(173, 130, 74);
    padding: .1vh .5vw;
}


input:checked ~ .detail{
    display: inline;
}

 
.img_text{
    width: 11vw;
    height: 20vh;
    overflow: auto;
    padding: 0 .1vw .5vh .1vw;
    font-size: 1.5vh;
  }
  #text_nam{
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 1.7vh;
    top: 0px;
    margin: 1vh 0px 1vh 0px;
  }
  #text_p{
    text-align: justify; 
    font-family: 'Signika', sans-serif;
    font-size: 110%;
    margin: .8vh .2vw .3vh .2vw;
  }
  
  .img_text::-webkit-scrollbar{
    width: .3vw;
    background-color: rgba(206, 206, 206, 0.596);
  }
  
  .img_text::-webkit-scrollbar-track{
    background-color: transparent;
  }
  .img_text::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, rgb(211, 163, 118), rgb(158, 126, 20));
    border-radius: 50px;
  }
  
  
  /* Áp dụng độ trễ cho icon-text */
  .leaflet-popup-content-wrapper {
    transition: opacity 1s ease;
    transition-delay: 0.5s; /* Độ trễ 0.5 giây (hoặc giá trị mong muốn) */
  }

  #info2 {
    width: 18vw;
    background-image: url("https://cdn.glitch.global/90845d8e-81a9-424d-b13a-0acd2c0b3b63/4b65a8b55dcdf3ee10db8703ec2b3be6.jpg?v=1700156070316");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vh .1vw 0 1vw;
    border-radius: 10px;
}
#info2 h4 {
    font-family: 'Signika', sans-serif;
    font-size: 3vh;
    color: #333;
    font-weight: 600;
    margin-bottom: .5vh; 
}

.chugiai_li p {
    font-family: 'Signika', sans-serif;
    font-size: 1.5vh;
    color: #333;
    font-weight: 600;
    align-items: center;
}
.chugiai_ul .chugiai_li{
    display: flex;
    height: 3vh;
}
.chugiai_ul {
    padding: 0;
    
}
.chugiai_line {
    width: 4vw;
    height: .6vh;
    margin: 1vh .5vw 0 0;
}
legend{
    width:100%;
    max-width:100%;
    padding:0;
    margin-bottom:.5rem;
    font-size:1.5rem;
    line-height:inherit;
    color:inherit;
}

.info {
    bottom: 4vh;
}


.line0 {
    background-color: #333;
}
.line1 {
    border-top: #333 .6vh dashed;
}
.line2 {
    background-color: #000080;
}
.line3 {
    background-color: #2ca02c;
}
.line4 {
    background-color: #330099;
}
.line5 {
    background-color: #00CC00;
}
.line6 {
    background-color: #9933CC;
}
.line7 {
    background-color: #FF6600;
}
.line8 {
    background-color: #FF0000;
}
.line9 {
    background-color: #33FFFF;
}
.line10 {
    background-color: #0000FF;
}
.line11 {
    background-color: #FFCC00;
}

#p3{
    font-size: 1.3vh;
    font-family: 'Arial';
    color: rgb(0, 0, 0);
    margin: .5vh 0 0 0;
    height: 1vh;
    bottom: 0;
}

@media screen and (max-width: 1000px) {
    .hh1{
        font-size: 90%;
    }

    #info{
        width: 80vw;
    }
    .info_hh1{
        font-size: 80%;
        padding: .5vh 0;
    }
    #map {
        position: relative;
        right: 0;
        left: 0;
        width: 80vw;
        height: 82vh;
        left: 20vw;
    }
    .box{
        display: block;
        position: absolute;
        top: 16vh;
        left: 2.9vw;
        padding: 0;
    }
    .checkmark {
        width: 15vw;
        height: 3.8vh;
        font-size: 1.3vh;
        padding-top: .7vh;
    }
    .detail{
        top: 1vh;
        left: 30vw;
        font-size: 1.5vh;
    }
    #info2 {
        width: 40vw;
    }
    #info2 h4 {
        font-size: 150%;
    }
    .chugiai_li p {
        font-size: 70%;
        color: #333;
        font-weight: 600;
        align-items: center;
    }
    .chugiai_ul .chugiai_li{
        display: flex;
        height: 3vh;
    }
    .chugiai_ul {
        padding: 0;
        
    }
    .chugiai_line {
        width: 5vw;
        height: .3vh;
        margin: .8vh 1vw 0 0;
    }
    .line1 {
        border-top: #333 .3vh dashed;
    }
    .info_img{
        width: 30vw;
        padding: 0 1vw;
    }
    #p3{
        font-size: 1vw;
    }

    

     
.img_text{
    width: 25vw;
    height: 22vh;
    overflow: auto;
    padding: 0 .5vw .1vh .1vw;
    font-size: 1.5vh;
  }
  #text_nam{
    font-size: 90%;
    top: 0px;
    margin: 1vh 0px 1vh 0px;
  }
  #text_p{
    font-size: 80%;
    margin: .1vh .5vw .3vh .5vw;
  }
  
  .img_text::-webkit-scrollbar{
    width: .7vw;
  }
  
  .icon-image {
    height: 1.8vh;

}

.icon-text {
    font-size: 1.3vh;
    margin: 0 !important; /* Reset margin to ensure proper alignment */
    color: rgb(255, 9, 9);
    text-align: center;
    width: 100%;
    height: 1vh;
    padding-bottom: 2.1vh;
}
.info_p{
    padding: 1vh 5vw;
    font-size: 2vh;
}

#info::-webkit-scrollbar{
    width: 1vw;
    background-color: rgb(255, 255, 255);
  }
  .footpage{
    display: block;
    justify-content: center;
    align-items: center;
    height: 3vh;
    bottom: 0;
    padding-top: .1vh;
}
#ft{
    font-size: 40%;
    margin: 0;
    padding-top: .1vh;
}
body{
    height: 100vh;
    width: 100vw;
}
.leaflet-control-scale-line {
    width: 20vw !important;
    }
}